$green: rgba(20, 122, 57, 0.77);
$red: #bc2525;
.shatri-panel{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.shatri-item{
  flex-basis: 20%;
  background-color: $green;
  border: 0;
  border-radius: 12px;
  margin: 10px;
  padding: 10px 12px;
  min-height:60px;
  color: #fdfdfd;
  font-size: 16px;
  @media(max-width: 520px){
  flex-basis: 100%;
  }
}
.zakaz-forma{
  display: none;
}
.choose-shater{
  display: none;
  position: fixed;
  background-color: #eeeeee;
  max-width: 600px;
  padding: 30px 40px;
  left: 35%;
  right: 35%;
  top: 20%;
  border: 1px solid #232323;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px #232323;
  z-index: 10002;
  & button{
    display: block;
    width: 70%;
    margin-bottom: 10px;
    border-radius:8px;
    padding: 12px 20px;
    color: #fdfdfd;
    cursor: pointer;
    margin: 10px auto;
    background-color: $green;
  }
}
.choose-goods{
  display: none;
  position: fixed;
  background-color: #eeeeee;
  max-width: 600px;
  padding: 30px 40px;
  left: 35%;
  right: 35%;
  top: 20%;
  border: 1px solid #232323;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px #232323;
  z-index: 10002;
  &__label{
    margin: 5px 10px;
    display: block;
  }
  &__kolvo{
    margin: 5px 10px;
    display: block;
  }
  &__square-tent{
    display: none;
  }
  &__input-dop{
    display: flex;
    flex-wrap: wrap;
    & label{
      width: 45%;
      position: relative;
      margin-top: 20px;
      padding: 5px 5px 5px 70px;
      min-height: 50px;
    }
    & input{
      display: none;
    }
  }
}
#square-tent{
  display: none;
}
#resultDay{
  color: $red;
  margin: 0 10px 10px;
  display: inline-block;
  vertical-align: bottom;
}
#result-kolvo{
  color: $red;
  margin: 0 10px 10px;
  display: inline-block;
  vertical-align: bottom;
}
.modal-overlay{
  display: none;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-color: rgba(0,0,0, 0.7);
}
.goods-zakaz{
  &__square-tent{
    display: none;
  }
}