$green: rgba(20, 122, 57, 0.77);
$red: #bc2525;
.shatri-panel{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.shatri-item{
  flex-basis: 20%;
  background-color: $green;
  border: 0;
  border-radius: 12px;
  margin: 10px;
  padding: 10px 12px;
  min-height:60px;
  color: #fdfdfd;
  cursor: pointer;
  font-size: 16px;
  @media(max-width: 520px){
  flex-basis: 100%;
  }
}
.zakaz-forma{
  display: none;
  flex-wrap: wrap;
}
.choose-shater{
  display: none;
  position: fixed;
  background-color: #eeeeee;
  max-width: 600px;
  padding: 30px 40px;
  left: 35%;
  right: 35%;
  top: 20%;
  border: 1px solid #232323;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px #232323;
  z-index: 10002;
  & button{
    display: block;
    width: 70%;
    margin-bottom: 10px;
    border-radius:8px;
    padding: 12px 20px;
    color: #fdfdfd;
    cursor: pointer;
    margin: 10px auto;
    background-color: $green;
  }
}
.choose-goods, .choose-items{
  display: none;
  position: fixed;
  background-color: #eeeeee;
  padding: 30px 40px;
  left: 20%;
  right: 20%;
  top: 20%;
  border: 1px solid #232323;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px #232323;
  z-index: 10002;
  &__label{
    margin: 5px 10px;
    display: block;
  }
  &__kolvo{
    margin: 5px 10px;
    display: block;
  }
  &__square-tent{
    display: none;
    margin:10px 5px 12px 15px;
  }
  &__input-dop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px auto;
    & label{
      width: 35%;
      position: relative;
      margin-top: 20px;
      padding: 5px 5px 5px 70px;
      min-height: 50px;
      &::before{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: -8px;
        left: 0;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.7);
      }
    }
    & input{
      display: none;
    }
  }
}
.choose-goods__input-dop input:checked + label::before{
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 9px, rgba(255, 255, 255, 0) 10px);
}
.goods-items{
  flex-basis: 50%;
  margin: 20px auto;
  padding: 20px 30px;
  order:5;
  & label {
    width: 35%;
    display: inline-block;
    margin: 10px auto;
  }
  & input {
    background-color: #ababab;
    border: 0;
    padding: 5px 10px;
  }
  & button {
    display: block;
    width: 225px;
    max-width: 100%;
    padding: 10px 15px;
    color: #fdfdfd;
    border: 0;
    background-color: #bc2525;
    margin: 15px auto;
    border-radius: 10px;
    cursor: pointer;
  }
}
#square-tent{
  display: none;
  width: 50px;
  padding: 0;
}
#resultDay{
  color: $red;
  margin: 0 10px 10px;
  display: inline-block;
  vertical-align: bottom;
}
#result-kolvo, #result-kolvo-items{
  color: $red;
  margin: 0 10px 10px;
  display: inline-block;
  vertical-align: bottom;
}
.modal-overlay{
  display: none;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-color: rgba(0,0,0, 0.7);
}
.goods-zakaz{
  position: relative;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 0px #232323;
  flex-basis: 45%;
  h2 {
    font-size: 18px;
  }
  & span {
    color: $red;
  }
  & img {
    width: 150px;
  }
  &__square-tent{
    display: none;
  }
  &__remove{
    position: absolute;
    background-image: url(/img/times.svg);
    width: 17px;
    height: 23px;
    border: 0;
    top: 19px;
    right: 20px;
    cursor: pointer;
  }
}
.choose-goods__btn, .choose-items__btn{
  display: block;
  max-width: 240px;
  margin: 20px auto 10px;
  padding: 7px 25px;
  background-color: $green;
  border: none;
  cursor: pointer;
  color: #fdfdfd;
  text-transform: uppercase;
  border-radius: 7px;
  &:hover{
    opacity: 0.6;
  }
}
.arenda-title{
  text-align: center;
}
.item-panel{
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__btn{
    background-color: $green;
    margin: 10px 20px;
    padding: 5px 20px;
    color: #fdfdfd;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
}
